<h1 *ngIf="perro.nombre == 'pepe'">Datos del perro</h1>

<h3>Nombre del perro: {{perro.nombre}}</h3>

<h3>Raza del perro: {{perro.raza}}</h3>


<button [disabled]="mostrartitulo">Boton Saludar</button>


<div>
    <ul>
        <li *ngFor="let fruta of frutas"> {{fruta}}</li>
    </ul>
</div>


<div>   
    <table>
        <tr>
            <th>Nombre</th>
            <th>Raza</th>
        </tr>
        <tr  *ngFor="let animal of animales">
            <td>{{animal.nombre}}</td>
            <td>{{animal.raza}}</td>
        </tr>
    </table>
</div>


<!-- Enlaces a traves de ngModel  -->


<input type="text" [(ngModel)]="nombrepersona" [disabled]="activo">
<span>{{nombrepersona}}</span>
<input type="button" (click)="hacerClic()" value="Saludar">

<br>
<br>
<br>

<label for="nombre">Nombre</label>
<input id="nombre" type="text" [(ngModel)]="perro.nombre" [disabled]="activo">


<label for="raza">Raza</label>

<select name="raza" id="raza" [(ngModel)]="perro.raza">
    <option *ngFor="let razaopt of razas; let i = index; " [value]="i">{{razaopt}}</option>
</select>

<input type="button" (click)="mostrarInfoObjeto()" value="Saludar">

